<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="img/tr-logo.jpg" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
       
        <script src="https://kit.fontawesome.com/e728390324.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="dash-b-2.css">
        <title> dash-b-2 </title>
</head>
    
    <body class="h-screen bg-gray-100">

        <header  > 
        <nav class="flex flex-row justify-between text-white items-center p-2 bg-pink">
        <div class="text-3xl ml-36 "> Temporent </div>
        <input type="search" name="email" placeholder="What products you are looking for?" class="py-2 px-2 rounded-xl w-1/3 outline-none text-black">
        <i class="fa-solid fa-magnifying-glass icon relative right-24 p-[11px] text-pink border-pink border-l-2 pl-1 h-10 "></i>
        
        <div class="space-x-4 flex items-center mr-36">
        <i class="fa-regular fa-bell icon "></i>  
        <i class="fa-solid fa-envelope icon"></i>
        <a href="dashboard-l.html" class="bg-white  text-pink border-2 border-solid border-transparent font-bold px-3 py-2 rounded-2xl hover:bg-light-pink"> Become Lender </a> 
        <i class="fa-solid fa-question icon"></i>
        <i class="fa-solid fa-user icon"></i>
        
        </div>
        </nav>

        </header>

        <div class=" p-4 rounded-lg inline-block m-3 ">
            <h1 class="text-4xl"> Stack of Books </h1>
            <p class="text-gray-600">  <i class="fa-solid fa-star"> </i> 4.5 | <i class="fa-solid fa-eye"></i> (9) </p>
            <p class="text-gray-400 text-sm "> 29 mins ago</p>
            <img src="img/book1.jpg" alt="sorry" class="w-2/5 ">
            </div>       

<div class=" border-2 border-slate-900 inline-block px-3 m-3 py-8 rounded-md float-right "> 
    <h1 class="text-4xl"> Lender Description </h1>
    <br> 
    <h1> <i class="fa-solid fa-user"></i> Ahmed Z. </h1>
    <h1> Member since May 2022 </h1>
    <button class="py-2 px-28 bg-pink text-white rounded-lg hover:bg-light-pink " > Contact Seller </button>
    <br>
    <i class="text-gray-400 text-sm" > 0320-2060100 </i> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;&emsp; <i class="text-gray-400 text-sm "> Lahore </i>
     </div>

<div class=" border-2 border-slate-900 inline-block mr-3 px-8 pl-[18px] m-2 py-3 rounded-md float-right -mt-24" > 
<div class="flex justify-around ">
    <h1 class="cursor-pointer hover:text-slate-700" id="bookone"> Day 1 </h1>
    <h1 class="cursor-pointer hover:text-slate-700" id="booktwo"> Day 2 </h1>
    <h1 class="cursor-pointer hover:text-slate-700" id="bookthree"> Day 3 </h1>
    
</div> <p class=" border-[1px] border-black"></p>
<h1 class="font-bold text-4xl mt-3 " id="price"> RS 100/day &ensp; &ensp; <i class="fa-regular fa-heart cursor-pointer" id="icon"></i> </h1>
<h1 class="text-xl text-gray-400  " > Books </h1>
<i class="text-sm text-gray-400  " > (9 products rented so far) </i>

<script src="j-books.js"></script>

</div>
    <div class=" p-2 m-3 inline-block border-2 border-black rounded-md ">
    
        <h1 class="font-bold text-3xl" > Details </h1>
        <p>Price: RS 100 </p>
        <p> Condition: New </p>
        <p> Rented Before Time: 2 times </p>
        <br>
        <h1 class="font-bold text-3xl">Description</h1>
        <p> I have 7 books here which i want to rent out. You can rent single or multiple books as you want. </p>
           <p> All the names of books are as follows: </p>  <br>
        <ol>
         <li> - Helmet for my pillow </li>
         <li> - Art in Theory </li>
         <li>- Psychological</li>
         <li>- Beyond Good and Evil</li>
         <li>- Medical Insurance</li>
         <li>- Rules of Accounting</li>
         <li>- Human Physiology</li>
        </ol> 
        <p> If you want to rent this for several days amount will be RS100 for each day. For further assistance simply contact me  </p>
        
        </div>

<div class="mx-3 my-2"> 
<span class="text-4xl"> Reviews <span class="text-gray-400 text-xl"> (4.5) </span> </span>
<br>
<i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i>
</div>


    <div class="bg-black text-white pt-2 ">  <i class="fa-solid fa-copyright"></i> Temporent ltd. 2022
        <br><br>
    
    </div>





</body>
</html>