<!DOCTYPE html>
<html>
<head>
	<title> TempoRent res </title>
	<link rel="stylesheet" type="text/css" href="index.css">
  <link rel="shortcut icon" href="img/icons8-r-100.png" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>


  <!-- Start Section  -->
 <div class=" h-[100vh] w-full bg-bg-img bg-cover bg-center overflow-hidden ">



     <nav class=" flex items-center justify-between pt-3 pl-[2%] pr-[4%]"> 


        <h2 class=" logo text-3xl -ml-3  md:logo" title="Home">Tempo<span>rent</span></h2>
     <ul> 
    <li><a href="#" class="item">Home</a></li>
    <li><a href="#" class="item">About Us</a></li>
    <li><a href="dashboard-l.html" class="item">Become a Lender</a></li>
    <li><a href="#" class="item">Blog</a></li> 
    <li><a href="#" class="item">Resources</a></li> 
    <li><a href="contact-us.html" class="item">Contact Us</a></li>
  </ul>
   <a href="register-signup.html" class="btn item">Join us</a>
</nav>

<!-- <div class=" flex flex-col items-center mt-28 sm:absolute top-1/2 sm:left-24 sm:-translate-y-1/2"> -->
  <div class=" flex flex-col absolute top-1/4 left-7 md:top-1/2 md:left-24 md:-translate-y-1/2">
  <h1 class="text-4xl text-white  font-sans font-bold md:mt-5 md:mr-0 md:mb-5 md:text-8xl">We Exist To Assist <br> <span class=" font-sans decoration-inherit ">The People</span></h1>
  <div class=" search w-[225px] mt-4 md:search md:w-[380px]">
    <form>
      <input type="text" name="text" id="mail" placeholder="Search...">
      <input type="submit" name="submit" value="Start">
    </form>
  </div>
  <br>
 
  <div class=" invisible sm:visible space-x-3 "> 
  <a href="dashboard-l.html"  class="btn bg-white text-pink rounded-lg px-4 hover:text-black"> Lender </a>
	<a href="dashboard-b.html" class="btn rounded-lg px-4 hover:text-black"> Borrower </a>
</div>

</div> 
 </div>
<!-- About Section  -->

<section class="py-6 px-2 md:w-full md:py-[100px] md:px-0 bg-black">  

		<div class=" pl-3 md:w-[1130px] md:max-w-[95%] py-0 md:pl-[100px] md:flex md:items-center md:justify-around ">
      

			<img src="image/pexels-tp-dai-3399996 (1).jpg" class=" w-60 h-80 md:w-[430px] md:h-[600px] border-x-slate-50">
			<div class=" w-[550px] ml-20">
				<h2 class=" my-2 text-3xl -ml-4 text-white md:text-6xl md:font-bold" >About Us</h2>

				<p class=" text-xs para -ml-20 md:leading-7 md:tracking-wider md:mb-11 md:text-lg text-light-pink ">	In Pakitsan with the increase in inflation day be day it is now getting already very difficult to meets person daily needs , So spending some of your money to buy stuffs you need for a temporary use is almost non-existent. This is the problem especially students face nowdays because they doesn't have the un-necessary money to spend on things we are rarely going to use like pent coat , formal shoes , some sport related stuffs , jewelleries etc. Our main objective is to facilitate people by helping them renting his/her spare products he doesn't really need anymore.</p>
				<button type="button" class="btn" >See More</button>
			</div>
		</div>
	</section>
<!-- Service Section -->

<div class="bg-grey w-full py-[100px] px-0"> 
<div class="heading">
  <h2 class="text-center my-7 mx-auto">Our Services</h2>

</div>
<div class="inline-block h-[395px] w-[335px] py-5 px-9 bg-black rounded-3xl mt-4 mr-40 mb-4 ml-0 relative left-[270px] overflow-hidden text-center ">

  <i class="far fa-user text-5xl block text-center my-6 mx-0 text-pink"></i>

  <h5 class="heading1"> Lender</h5>
    <p class="para"> Lender will rent/lend his spare products. He will publish separate posts for each products he is going to lend.   </p>
      <a class="btn relative bottom-6 hover:text-slate-700" href="lend-borr.html">Read More</a> 
</div>

<div class="inline-block h-[395px] w-[335px] py-5 px-9 bg-black rounded-3xl mt-4 mr-40 mb-4 ml-0 relative left-[270px] overflow-hidden text-center ">
  <i class="far fa-user text-5xl block text-center my-6 mx-0 text-pink"></i>

  <h5 class="heading1">Borrower</h5>
    <p class="para">Borrower will borrowes the product that Lender has published. He will be able to see posts from various Lenders.</p>
      <a class="btn relative bottom-6 hover:text-slate-700" href="lend-borr.html">Read More</a>
</div>

</div>

<!-- Footer Section -->
<footer class="md:relative w-full h-[200px] bg-black flex flex-col items-center justify-center "> 
<!-- h-[400px] above -->

  <h2 class="logo">Tempo<span>rent</span></h2>
  
  <div class="flex">
    <a href="#" class="icon"><i class=" fab fa-facebook-f "></i></a>
    <a href="#" class="icon"><i class="fab fa-instagram "></i></a>
    <a href="#" class="icon"><i class="fab fa-dribbble"></i></a>
  </div>
  <p class="relative text-pink top-3 text-sm">Copyright | Terms of use  | Privacy Policy | Help & Support  </p>

</footer>




</body>
</html>