<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    
    <title> Lender , Borrowers </title>
    <link rel="stylesheet" href="lend-borr.css">

</head>
<body>

<h2 class="logo" title="Home">Tempo<span>rent</span></h2>
<hr>

<div class="text-white ml-3 mt-4">

<!-- Lender   -->

<h1 class="head"> Lender: </h1>
<p class="mb-16"> Lender will rent/lend his spare products. He will publish separate posts for each products he is going to lend.
   

<!-- Boroower -->

<h1 class="head" > Borrower: </h1>
<p>  </p>

</div>

</body>
</html>